/*  Common  */
.al-tip {
  font-size: .8rem; }

.al-tip.al-notice {
  color: #7e7e7e; }

.al-tip.al-error {
  color: #ce132e; }

.al-tip:before {
  content: '';
  width: 100%;
  clear: both;
  display: block; }

ul.al-col-2 li {
  float: left;
  width: 50%;
  display: block;
  margin-bottom: 4px; }
  ul.al-col-2 li .al-mark {
    padding: 4px;
    margin-right: 4px; }
  ul.al-col-2 li.marked .al-mark {
    background: #f8e4e6; }

.al-rel {
  position: relative; }

.al-abs {
  position: absolute; }

.al-loader {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20; }
  .al-loader.active {
    display: block; }

.not-a-button {
  background: transparent;
  border: none; }

.al-hidden {
  display: none !important; }

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block; }
  .upload-btn-wrapper .btn {
    background-color: white;
    text-align: center;
    font-size: .8rem;
    padding: 1rem 0;
    letter-spacing: .5px;
    cursor: pointer; }
  .upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 52px;
    max-width: 250px;
    width: 100% !important;
    cursor: pointer; }

.upload-btn-wrapper .btn,
.al-quantity {
  color: gray;
  min-width: 250px;
  min-height: 52px;
  border: 2px solid grey;
  border-radius: 3px; }

.al-bold {
  font-weight: 600; }

/*  Common end  */
/*  Product Modal  */
#al-product-bundles-modal .modal-dialog {
  max-width: 1000px;
  top: 20%; }
  #al-product-bundles-modal .modal-dialog .qty .count {
    color: #2a2a2c;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 50px;
    text-align: center; }
  #al-product-bundles-modal .modal-dialog .qty .al-plus,
  #al-product-bundles-modal .modal-dialog .qty .al-minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%; }
#al-product-bundles-modal .modal-header {
  padding: 1rem; }
  #al-product-bundles-modal .modal-header h5 {
    color: #ce132e;
    width: 100%; }
  #al-product-bundles-modal .modal-header button {
    padding-top: .6rem; }
#al-product-bundles-modal ul {
  padding: 0; }
  #al-product-bundles-modal ul.al-nav {
    list-style: none;
    border-top: 2px solid #f3f3f3; }
    #al-product-bundles-modal ul.al-nav li {
      text-align: center;
      line-height: 55px;
      text-transform: uppercase; }
      #al-product-bundles-modal ul.al-nav li a {
        color: #000;
        display: block;
        height: 100%;
        width: 100%;
        background: #f8e4e6; }
        #al-product-bundles-modal ul.al-nav li a.active {
          color: #fff;
          background: #ce132e; }
#al-product-bundles-modal .tab-pane {
  padding: 1rem; }
#al-product-bundles-modal .al-product-list .prod-img {
  width: 60px;
  padding: 7px;
  margin-left: 30px;
  border: 1px solid #f3f3f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
#al-product-bundles-modal .al-product-list .prod-info {
  width: calc( 100% - 90px ); }
  #al-product-bundles-modal .al-product-list .prod-info h6 {
    line-height: 60px;
    padding-left: 20px;
    font-weight: 400;
    margin: 0; }
#al-product-bundles-modal .al-product-list .al-remove {
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  top: 50%;
  left: 12px;
  transform: translate(-50%, -50%); }
#al-product-bundles-modal .al-btn-white {
  background: #fff;
  border: 2px solid #a5a4a7; }
  #al-product-bundles-modal .al-btn-white:hover {
    background: #f3f3f3; }
#al-product-bundles-modal .al-second-step .prod-img {
  margin: 0; }
#al-product-bundles-modal .al-second-step .al-remove {
  display: none; }
#al-product-bundles-modal .al-second-step .modal-body {
  padding: 0 30px; }
#al-product-bundles-modal .al-second-step .modal-footer {
  margin-top: 30px;
  display: block;
  padding: 0 30px 30px; }
#al-product-bundles-modal .al-quantity {
  min-height: 52px; }

/*  Product Modal end */
/*  Sidebar */
.al-bunlde-sidebar .al-product-count > span {
  display: inline-block;
  min-width: 25px; }

/*  Sidebar end */
/* Cart */
body.woocommerce-cart .yith-wcpb-child-of-bundle-table-item {
  display: none; }
body.woocommerce-cart .al-open-modal {
  font-size: .7rem; }

/* Cart end */

/*# sourceMappingURL=al-product-bundles-public.css.map */
